p{
    font-family: 'Alegreya Sans', sans-serif;
    /* font-weight: 500; */
    /* font-size: 1rem; */
}

h1 {
    font-family: 'recoletaschool_semiboldSBd', serif;
}

h2 {
    font-family: 'recoletaschool_mediummedium', serif;
}

small {
    font-family: 'recoletaschoolregular', serif;
}

.truck-page-container{
    background-color: #A87249;
    position: relative;
    background-size: cover;
    width: 100%;

}
  
.truck-section {
    width: 100%;
    /* padding-bottom: 30%; */
    position: relative;
    /* overflow: hidden; */
    /* padding-top: 10%; */
}

.truck-img {
    position: relative;
    width: 100%;
    height: auto;
    left: -90%; 
    animation: moveRight 1.2s ease-in-out forwards;
}


.video-section{
    width: 100%;
    position: relative;
    padding-bottom: -20%;
    background-color: rgb(99, 84, 84);
    overflow: hidden; 
    
}

#video1{
    width: 100%;
    height: 10%;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    display: block;

}

@keyframes moveRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(90%); /* Changed to 0 so the truck will stop at the end of its container */
    }
}

.mid-drip{
    position: relative;
    
}

.mid-drip-img{
    width: 100%;
    display: block;
}

.under-video{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: auto;
    padding-bottom: 2%;
}

.intro{
   
}

.intro h1{
    color: white;
    font-size: 5rem;
    padding: 0;
    margin-bottom: 0;
    
}
.intro p{
    color: white;
    margin-left: 20%;
    font-size: 1rem;
    padding-bottom: 0%;
}

.leaf-left-container{
    position: relative;
}
.leaf{
  width: 50%;
  padding-bottom: 10%;
}
.leaf-left{
    position: absolute;
    top: 75%;
    left: 10%;
}
.leaf-right-container{
    position: relative;
}
.leaf-right{
    position: absolute;
    top: 75%;
    right: 10%;
}


.food-container{
    background-image: url("../img/food-bg.png");
    background-size: cover;
}

.food-container h1{
    color: #681111;
    margin-top: 0;
    font-size: 3rem;
    padding-top: 4%;
    margin-left: 3%;
}

.food-container h2{
    font-size: 3rem;
    margin: 0;
}

.food-list{

}

.food-row{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    
}

.food-img{
    width: 90%;
    height: 90%;
    border-top-right-radius: 12%;
    border-top: 0.2rem solid rgb(197, 137, 46);
    border-right: 0.2rem solid rgb(197, 137, 46);
    border-bottom: 0.2rem solid rgb(197, 137, 46);
}

.food-details-col{
    display: grid;
    grid-template-rows: 0.7fr 0.5fr 1fr 1fr;
}

.text-ctn{
    width: 80%;
}

.food-details p{
    
}

.diet-list{
    display: flex;
	flex-direction: row;
    gap: 2%;
    
}

.diet-col{
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    max-width: 15%;
    
}

.diet-ctn{
    /* width: 50% ; */
    text-align: center;
}

.diet-img{
    width: 100%;
    height: 100%;
    border: 1px black;
}

.find-dish{
    display: flex;
	flex-direction: row;
    gap: 2%;
}

.food-vendor-logo{
    width: 15%;
    height: 15% ;
}
.insta-black{
    width: 15%;
    height: 15%;
}

.end-food-list{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    padding-bottom: 10%;
    padding-top: 3%;
}

.explore-bt{
    /* background-color: rgba(168, 109, 63, 0.7); */
    background-color: #E04593;
    border: none;
    padding: 2%;
    color: white;
    border-radius: 2rem;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'recoletaschoolregular', serif;
}

.food-link-container{
    margin-top: 0;
}

.food-ft{
    background-color: #713C3C;
}

@media screen and (max-width: 800px) {
    .intro h1 {
        font-size: 2rem;
    }
    .intro p{
        font-size: 0.6rem;
    }

    .food-row {
        display: grid;
        grid-template-rows: 0.2fr 1fr;
        grid-template-columns: none;  /* reset to default */
    }

    .food-img{
        width: 100%;
        height: auto;
        border-top-right-radius: 0%;
        border-top: none;
        border-right: none;
        border-bottom: none;
    }
    .food-container h1{
        text-align: center;
        font-size: 2rem;
    }
    .food-name{
        text-align: center;
    }
    
    .diet-list{
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
    }
    .food-desc{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .text-ctn{
        width: 70%;
    }
    .find-dish{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2%;
    }
    .find-dish-text{
        display: none;
    }
    .food-details-col{
        display: grid;
        grid-template-rows: 0.6fr 0.2fr 1fr 0.8fr;
    }

    .explore-bt{
        /* background-color: rgba(168, 109, 63, 0.7); */
        background-color: #713C3C;
        border: none;
        padding: 2%;
        color: white;
        border-radius: 2rem;
        font-family: inherit;
        font-size: 1rem;
    }
   
}
