.truck-section {
    width: 100%;
    padding-bottom: 30%;
    position: relative;
    overflow: hidden;
    padding-top: 10%;
}

.truck-img {
    position: absolute;
    width: 100%;
    height: auto;
    left: -90%; 
    animation: moveRight 1.2s ease-in-out forwards;
}


.video-section{
    margin-top: 10%;
    width: 100%;
    position: relative;
    background-color: rgb(99, 84, 84);
    /* overflow: hidden;  */
}

#video1{
    width: 100%;
    height: auto;
    opacity: 0.5;
    transition: opacity 0.5s ease; 
}

@keyframes moveRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(90%); /* Changed to 0 so the truck will stop at the end of its container */
    }
}