
.festname-section {
    width: 100%;
}

.festname-img {
    display: block; 
    width: 100%;
    height: auto; 
}

.sun-section {
    position: relative;
    width: 100%; 
    height: 100%;
}
.drip-img{
    position: absolute; 
    
    left: 0;
    width: 100%; 
    height: auto; 
}

.sun-section .sun {
    position: absolute;
    top: 19%;  
    left: 17%;  
    width: 65%;  
    height: auto;
}

.wheel{
    /* border: 0.1px dotted black; */
    position: absolute;
    top: 5%;
    left: 13%;
    border-radius: 50%;
    width: 75%;
    padding-bottom: 75%;
}

.flag1{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 28%;
    top: -1%;

}

.flag2{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 55%;
    top: -1%;
}

.flag3{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 80%;
    top: 14%;
}

.flag4{
    position: absolute;
    width: 20%;
    height: 20%;
    left: 90%;
    top: 35%;
}

.flag5{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 87%;
    top: 68%;
}

.flag6{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 55%;
    top: 80%;
}

.flag7{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 28%;
    top: 80%;
}

.flag8{
    position: absolute;
    width: 15%;
    height: 15%;
    left:0%;
    top: 68%;
}

.flag9{
    position: absolute;
    width: 20%;
    height: 20%;
    left: -9%;
    top: 35%;
}

.flag10{
    position: absolute;
    width: 15%;
    height: 15%;
    left: 3%;
    top: 14%;
}


.wheel img {
    transition: transform 0.3s ease; 
}

.wheel img:not(.sun):hover {
    transform: scale(1.5); 
}


@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
} 