body {
    background-color: #007956;
}
  
.main-container {
    position: relative;
    max-width: 60rem;
    height: 60rem;
    margin: 0rem auto;
    /* background-color: rgb(231, 138, 16); */
    background-color: #713B3B;

}
  

