
.food-plaza {
    position: relative; /* Set to relative so the absolute positioning of .plaza-content is relative to this */
    width: 100%;
}

.paper-bg{
    position: relative; 
    display: block;
    left: 0;
    width: 100%; 
    height: 100%; 
}


.plaza-content {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    /* justify-content: center;  */
    align-items: center; 
    gap: 8%;
}

.burrito-img{
    position: absolute;
    left: -50%;
    top: 5%;
    width: 100%;
    height: 90%;
}

.cooking-img{
    position: absolute;
    left: 50%;
    top: 5%;
    width: 100%;
    height: 90%;
}


.chili-img{
    position: absolute;
    left: 83%;
    top: 55%;
    width: 30%;
    height: 30%;
}



.cloth {
    position: relative;
    width: 65%;
    height: 34%;
    /* height: auto; */
    background-image: url("../img/plaza-bg.svg");
    border-radius: 1rem;
    /* overflow: hidden; */
}
.cloth::before,
.cloth::after {
    content: "";
    position: absolute;
    left: 8%;
    right: 8%;
    height: 5%;
    background-image: url("../img/sewing.svg");
    background-repeat: repeat-x;
    background-size: 5%;
}

.cloth::before {
    top: 2%;
}

.cloth::after {
    bottom: 2%;
}
.cloth1{
    margin-left: 10%;
}
.cloth1 p{
    position: absolute;
    color: #713B3B;
    width: 40%;
    left: 40%;
    top: 35%;
    font-size: 1em;

}

.cloth2{
    margin-right: 10%;
}
.cloth2 p{
    position: absolute;
    color: #713B3B;
    width: 40%;
    left: 40%;
    top: 35%;
    font-size: 1.1vw;

}
.sewing-bt{
    
    background-color: #772484;
    position: absolute;
    
    border-radius: 2rem;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    color: white;
}

.bt-small{
    width: 40%;
    height: 15%;
    left: 39%;
    top: 15%;
    font-size: 2em;
}
.bt-large{
    width: 60%;
    height: 15%;
    left: 10%;
    top: 15%;
    font-size: 1.5vw;
}

.cloth2 p{
    position: absolute;
    color: #713B3B;
    width: 60%;
    left: 12%;
    top: 35%;
    font-size: 1.1vw;

}

.nav-bt{
    background-color: #E04592;
    position: absolute;
    border-radius: 2rem;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    color: white;
}
.to-vendors{
    width: 25%;
    height: 10%;
    left: 45%;
    top: 75%;
    font-size: 1.2vw;
}

.to-learn-more{
    width: 25%;
    height: 10%;
    left: 29%;
    top: 75%;
    font-size: 1.2vw;
}
.main-get-ticket{
    background-color: #713B3B;
    border-radius: 1.75rem;
    display: flex;
	flex-direction: row; 
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    color: white;
    width: 25%;
    height: 7%;
    position: relative;
    font-size: 2vw;
    padding: 0 4%;
    cursor: pointer;
}

.main-get-ticket::before, 
.main-get-ticket::after {
    content: "";
    position: absolute;
    top: 14%;
    width: 15%; 
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.main-get-ticket::before {
    left: 12%;
    background-image: url('../img/left-fire.svg');
}

.main-get-ticket::after {
    right: 12%;
    background-image: url('../img/right-fire.svg');
}

.main-get-ticket:hover::before {
    transform: translateX(-80%)  translateY(10%) scale(2); /* Adjust as per need */

}

.main-get-ticket:hover::after {
    transform: translateX(80%) translateY(10%)  scale(2); /* Adjust as per need */
}



@media screen and (max-width: 932px) {
   
.bt-small{
    font-size: 80%;
}

.cloth1 p{
    font-size: 30%;
}
.to-vendors{
    font-size: 5%;
}

}