
p{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.food-plaza {
    position: relative;
    width: 100%;
    background-image: url("../img/paper-bg.svg");
    background-size: cover;
    font-family: 'recoletaschool_semiboldSBd', sans-serif;
}


.plaza-content {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    /* justify-content: center;  */
    align-items: center; 
    height: 100%;
    gap: 5em;
}

.burrito-flex-ctn{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
}

.cooking-flex-ctn{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
}

.burrito-img{
    width: 200%;
    margin-left: -75%;
    margin-top: 30%;
}
.burrito-test{
    
}

.cooking-img{
    width: 250%;
    margin-right: -100%;
}

.chili-ctn{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
}

.chili-img{
    width: 150%;
    margin-left: 60%;
    margin-top: 100%;

}

.plaza-flex-ctn{
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 20%;
}

.culinary-flex-ctn{
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
	flex-direction: column;

}
.culinary-flex-ctn p{
    margin-left: 12%;
}


.cloth {
    position: relative;
    width: 65%;
    background-image: url("../img/plaza-bg.svg");
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 0.7fr;
    gap: 7%;

    
}
.cloth::before,
.cloth::after {
    content: "";
    position: absolute;
    left: 8%;
    right: 8%;
    height: 5%;
    background-image: url("../img/sewing.svg");
    background-repeat: repeat-x;
    background-size: 5%;
}

.cloth::before {
    top: 2%;
}

.cloth::after {
    bottom: 2%;
}
.cloth1{
    margin-left: 10%;
}
.cloth1 p{
    color: #713B3B;
    font-size: 1em;

}

.cloth2{
    grid-template-columns: 4fr 1fr;
    gap: 7%;
    margin-right: 10%;
    
}
.cloth2 p{
    color: #713B3B;
    font-size: 1em;

}
.sewing-bt{
    
    background-color: #772484;
    border: none;
    border-radius: 1rem;
    /* padding: 2%; */
    font-family: inherit;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    color: white;
}

.bt-small{
    
    font-size: 2em;
    padding-left: 10%;
    padding-right: 10%;

}
.bt-large{
    font-size: 1.5em;
    margin-left: 9%;
    width: 90%;
    padding: 2%;
}

.cloth2 p{
    color: #713B3B;
    width: 60%;
    left: 15%;
    top: 35%;
    font-size: 1em;

}

.nav-bt{
    background-color: #E04592;
    border-radius: 2rem;
    border: none;
    color: white;
    font-family: 'recoletaschoolregular', sans-serif;
    
 
}

.all-vendor-bt{
    margin-bottom: 20%;
}

.learn-more-bt{
}


.to-vendors{
    font-size: 1em;
    padding: 3%;
    margin-bottom: 25%;
}

.to-learn-more{
    margin-left: 12%;
    font-size: 1em;
    padding: 2%;
}
.main-get-ticket{
    background-color: #E04592;
    border-radius: 1.5rem;
    color: white;
    width: 25%;
    height: 10%;
    position: relative;
    font-size: 2em;
    padding: 1.5%;
    margin-bottom: 3%;
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.main-get-ticket::before, 
.main-get-ticket::after {
    content: "";
    position: absolute;
    top: 14%;
    width: 15%; 
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.main-get-ticket::before {
    left: 0%;
    background-image: url('../img/left-fire.svg');
}

.main-get-ticket::after {
    right: 0%;
    background-image: url('../img/right-fire.svg');
}

.main-get-ticket:hover::before {
    transform: translateX(-80%)  translateY(10%) scale(2); /* Adjust as per need */

}

.main-get-ticket:hover::after {
    transform: translateX(80%) translateY(10%)  scale(2); /* Adjust as per need */
}



@media screen and (max-width: 800px) {

.nav-bt{
    border-radius: 0.7rem;
} 
.bt-small{
    font-size: 100%;
}
.bt-large{
    font-size: 100%;
}

.cloth1 p{
    font-size: 80%;
}
.to-vendors{
    font-size: 80%;
    margin-bottom: 45%;
    padding: 5%;
}

.bt-large{
    font-size: 80%;
}

.cloth2 p{
    font-size: 80%;
}
.to-learn-more{
    font-size:80%;
    margin-bottom: 15%;
    padding: 4%;
}


.main-get-ticket{
    background-color: #713B3B;
    border-radius: 1.5rem;
    color: white;
    width: 30%;
    height: 15%;
    position: relative;
    font-size: 2em;
    padding: 1.5%;
    font-size: 75%;
}

}