
.nav {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: url('../img/ribbon2.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    padding: 0;
    margin: 0;    
    list-style-type: none;
}

.nav-content {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    max-width: 50%; 
    gap: 9em;
}

.nav .logo,
.nav .timer,
.nav .ticket-button {
    color: #713B3B; 
    z-index: 1; 
}

.nav .logo{
    font-size: 2.5rem;
    color: white;
    padding-top: 1.5rem;
    
}
.nav .timer {
    font-size: 1.5rem;
    color: white;
}
.nav .ticket-button{
    display: flex;    
    white-space: nowrap;
    font-size: 1rem;
}


/* CSS media query */
@media screen and (max-width: 800px) {
    .nav .logo{
        font-size: 3vw; /* decrease font size */
    }
    .nav .timer {
        font-size: 1.5vw; /* decrease font size */
    }
    .nav .ticket-button{
        font-size: 1.5vw; /* decrease font size */
    }
    .nav-content {
        gap: 2em; /* This is the gap size for screens smaller or equal to 800px */
    }
}